extends baseEmail
block content

  p Du har f책tt ett meddelande fr책n #{name}.
  p Fr책n #{name}
  p Email: #{contactEmail}
  p Telefonnr: #{phoneNr}
  p Meddelande: #{message}
  
  p Mailet skickades fr책n ip-adressen: #{ip}
  
